@import "tailwindcss";

/* O Tailwind v4 detecta automaticamente seus arquivos .vue, 
então você não precisa de mais nada aqui por enquanto. */

@layer utilities {
  @keyframes blink {

    0%,
    100% {
      background-color: transparent;
    }

    50% {
      background-color: rgba(34, 197, 94, 0.4);
    }
  }

  .animate-blink {
    animation: blink 1s ease-in-out;
  }
}